  body{
        background-color: cadetblue;
    }
    p{
        text-align: center;
        font-family: fantasy;
        font-size: 20px;
    }
    .button{
        text-align: center;
        
    }